---
title: About Web Presence
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Travel Grid</title>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla|Rubik" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <!-- Navigation -->
      <nav class="main-nav">
        <ul>
          <%= link_to "Home", "/index.html"  %>
          <%= link_to "About", "/about.html"  %>
          <%= link_to "Crew", "/crew.html"  %>
          <%= link_to "Contact", "/contact.html"  %>
        </ul>
      </nav>
    </div>
    <img src="images/contact.jpeg.png" alt="">
  </body>
</html>
<!-- Top Container -->