<!-- Navigation -->
<nav class="main-nav">
  <ul>
    <%= link_to "Home", "/index.html"  %>
    <%= link_to "About", "/about.html"  %>
    <%= link_to "Crew", "/crew.html"  %>
    <%= link_to "Contact", "/contact.html"  %>
  </ul>
</nav>
<!-- Wrapper -->
<div class="wrapper">
  <section>
    <div class="banner">
      <p>We are an eco-friendly company and require all applicants to send us bags of recycable rubbish, unused can goods, unwanted clothes or et cetera. Your donations will let us know how serious you are about the environment and your footprint on our beautiful planet. Please wrap your things in newspapers and post them to 1508 Saddleback Country, Lolland, KY.</p>
      <div>
      </section>
      <img src="contact_banner.jpeg.png" alt="">
    </div>