<html><script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla|Rubik" rel="stylesheet">
  <!-- Navigation -->
  <nav class="main-nav">
    <ul>
      <%= link_to "Home", "/index.html"  %>
      <%= link_to "About", "/about.html"  %>
      <%= link_to "Crew", "/crew.html"  %>
      <%= link_to "Contact", "/contact.html"  %>
    </ul>
  </nav>
  <div class="wrapper">
    <!-- Boxes Section -->
    <section class="boxes">
      <div class="box">
        <i class="fas fa-camera-retro fa-4x"></i>
        <h3>Karen</h3>
        <p>Professional site scout master and publisher of beautiful content. She will scope the best areas for you to go and take pictures at.</p>
        <img class="insta-img"src="images/karen.jpeg" alt="">
        <p class="insta">@KarenIG</p>
        <i class="fab fa-instagram fa-2x"></i>
      </div>
      <div class="box">
        <i class="fas fa-eye fa-4x"></i>
        <h3>Dijon Shake</h3>
        <p>Creative child who sees the world in digital 500 pixels and can capture the essence that everyone wants. They are your guy.</p>
        <img src="images/dijon.jpeg" alt="">
        <p class="insta">@DijonIG</p>
        <i class="fab fa-instagram fa-2x"></i>
      </div>
      <div class="box">
        <i class="fas fa-ship fa-4x"></i>
        <h3>Bob a.k.a Acqua</h3>
        <p>He grew up traveling the world by yacht with his parents and worked at Maldives for 20+ years. If you like diving deep, chat him up.</p>
        <img src="images/acqua.jpeg" alt="">
        <p class="insta">@AcquaIG</p>
        <i class="fab fa-instagram fa-2x"></i>
      </div>
      <div class="box">
        <i class="fas fa-brain fa-4x"></i>
        <h3>CiCi Piz</h3>
        <p>A psychologist who reads the minds of billions through astral projection. She doesn't call herself a psychic. She just gets it and knows it.</p>
        <img src="images/cici.jpeg"" alt="">
        <p class="insta">@CiciIG</p>
        <i class="fab fa-instagram fa-2x"></i>
      </div>
    </section>
  </div>
  <footer>
    <p>InfluenceGlobe &copy; 2019</p>
  </footer>
</html>