---
title: Welcome to Web Presence
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla|Rubik" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <!-- Navigation -->
      <nav class="main-nav">
        <ul>
          <%= link_to "Home", "/index.html"  %>
          <%= link_to "About", "/about.html"  %>
          <%= link_to "Crew", "/crew.html"  %>
          <%= link_to "Contact", "/contact.html"  %>
        </ul>
      </nav>
      <!-- Top Container -->
      <section class="top-container">
        <header class="showcase">
          <h1>Your Web Presence</h1>
          <p>You want to let the world know who you are through images. Let us connect you and lifestyle with the globe.</p>
          <a href="" class="btn showcase-btn">Read More</a>
        </header>
        <div class="top-box top-box-a">
          <h4>Membership</h4>
          <p class="price">$199/mo</p>
          <a href="https://www.larrycodes.online/" class="btn">Buy Now</a>
        </div>
        <div class="top-box top-box-b">
          <h4>Pro Membership</h4>
          <p class="price">$299/mo</p>
          <a href="https://www.larrycodes.online/" class="btn">Buy Now</a>
        </div>
      </section>
      <!-- Boxes Section -->
      <section class="boxes">
        <div class="box">
          <i class="fas fa-chart-pie fa-4x"></i>
          <h3>Analytics</h3>
          <p>We will measure your success and keep you on track.</p>
        </div>
        <div class="box">
          <i class="fas fa-globe fa-4x"></i>
          <h3>Marketing</h3>
          <p>Our personalized team will tell you which hashtags are on fleek.</p>
        </div>
        <div class="box">
          <i class="fas fa-cog fa-4x"></i>
          <h3>Development</h3>
          <p>Growth is important for every company, brand or influencer.</p>
        </div>
        <div class="box">
          <i class="fas fa-users fa-4x"></i>
          <h3>Support</h3>
          <p>We are there for you via all social media outlets.</p>
        </div>
      </section>
      <!-- Info Section -->
      <section class="info">
        <img src="images/elephant.jpeg.jpg" alt="">
        <div>
          <h2>Your Business On the Web</h2>
          <p>It is hard to work alone and manage your content. We aim to keep you updated and let you know the peak times to post or which content your followers want more from you.</p>
          <a href="" class="btn">Learn More</a>
        </div>
      </section>
      <!-- Portfolio -->
      <section class="portfolio">
        <img src="http://source.unsplash.com/random/200x200" alt="">
        <img src="http://source.unsplash.com/random/201x200" alt="">
        <img src="http://source.unsplash.com/random/202x200" alt="">
        <img src="http://source.unsplash.com/random/203x200" alt="">
        <img src="http://source.unsplash.com/random/204x200" alt="">
        <img src="http://source.unsplash.com/random/205x200" alt="">
        <img src="http://source.unsplash.com/random/206x200" alt="">
        <img src="http://source.unsplash.com/random/207x200" alt="">
        <img src="http://source.unsplash.com/random/208x200" alt="">
        <img src="http://source.unsplash.com/random/209x200" alt="">
        <img src="http://source.unsplash.com/random/210x200" alt="">
        <img src="http://source.unsplash.com/random/211x200" alt="">
      </section>
      <!-- Footer -->
      <footer>
        <p>InfluenceGlobe &copy; 2019</p>
      </footer>
    </div>
    <!-- Wrapper Ends -->
  </body>
</html>